/* =============================================  For PC  --Start--  ============================================= */
/* =============================================  For PC  --Start--  --Start--  ============================================= */
/* =============================================  For PC  --Start--  --End--  ============================================= */
/* =============================================  For PC  --End--  ============================================= */
/* =============================================  Max Width  --Start--  ============================================= */
/* ===================================  Max Width  --Start--  =================================== */
@media screen and (max-width: 1200px) {
  .form__title {
    font-size: calc(30px + (40 - 30) * ((100vw - 767px) / (1200 - 767)));
  }
  .file__button {
    padding: 10px calc(24px + (28 - 24) * ((100vw - 250px) / (1200 - 250)));
  }
}

/* ===================================  Max Width  --End--  =================================== */
/* =============================================  Max Width  --End--  ============================================= */
/* =============================================  For Mobile  --Start--  ============================================= */
/* ===================================  Max-Width 767px  --Start--  =================================== */
@media screen and (max-width: 767px) {
  /* ====================  NoScrript  --Start--  ==================== */
  .noscript__text {
    font-size: calc(10px + (13 - 10) * ((100vw - 320px) / (767 - 320)));
  }
  /* ====================  NoScrript  --Start--  ==================== */
  /* ===================================  Page  --Start--  =================================== */
  .form__input {
    height: calc(44px + (50 - 44) * ((100vw - 250px) / (767 - 250)));
  }
  .form__textarea {
    height: calc(180px + (240 - 180) * ((100vw - 250px) / (767 - 250)));
  }
  .checkbox__label {
    font-size: calc(14px + (18 - 14) * ((100vw - 250px) / (767 - 250)));
  }
  /* ===================================  Page  --End--  =================================== */
  /* ===================================  Scroll Up Button  --Start--  =================================== */
  .up__button_icon {
    width: 58px;
    height: 58px;
  }
  /* ===================================  Scroll Up Button  --End--  =================================== */
}

/* ===================================  Max-Width 767px  --End--  =================================== */
/* ===================================  Max-Width 360px  --Start--  =================================== */
@media screen and (max-width: 360px) {
  .options {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .options__item:last-child {
    padding-left: 0px;
  }
  .form__file {
    text-align: center;
  }
  .file {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .file__prewiew {
    padding: 22px 4px 12px;
  }
}

/* ===================================  Max-Width 360px  --End--  =================================== */
/* =============================================  For Mobile  --End--  ============================================= */
