/* ===================================  Logo  --Start--  =================================== */
.header__logo {
	border-radius: 50%;
	position: relative;
	width: 44px;
	height: 44px;
	z-index: 91;
	cursor: pointer;
	box-shadow: 0px 0px 7px #ff0000,0px 0px 9px #ff0000,0px 0px 12px #ff0000,0px 0px 26px #ff0000;
	-webkit-tap-highlight-color: $clickByTouchColor;
	transition: all 0.5s ease 0s;
	body._pc &:hover {
		box-shadow: 0px 0px 9px #ff0000,0px 0px 14px #ff0000,0px 0px 22px #ff0000,0px 0px 34px #ff0000;
	}
	body._mobile &:active {
		box-shadow: 0px 0px 9px #ff0000,0px 0px 14px #ff0000,0px 0px 22px #ff0000,0px 0px 34px #ff0000;
	}
}
/* ====================  Logo Icon  ==================== */
.header__logo_icon {
	width: 100%;
	height: 100%;
	color: #ffffff;
	font-size: 0.8em;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	animation: animLogo 6s infinite;
	@keyframes animLogo {
		0% {
			transform: rotateY(0deg);
		}
		100% {
			transform: rotateY(360deg);
		}
	}
}
/* ===================================  Logo  --End--  =================================== */