/* ===================================  Header  --Start--  =================================== */
/* ===================================  Menu Burger  --Start--  =================================== */
/* ====================  Burger menu icon  --Start--  ==================== */
.menu__icon {
	z-index: 5;
	display: block;
	position: relative;
	width: 46px;
	height: 28px;
	cursor: pointer;
	-webkit-tap-highlight-color: $clickByTouchColor;
	& span,
	&::before,
	&::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #ffffff;
		box-shadow: 0px 0px 3px #ffffff;
	}
	&::before,
	&::after {
		content: "";
	}
	&::before {
		top: 0px;
	}
	&::after {
		bottom: 0px;
	}
	span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}
	/* ====================  Burger menu icon on click  ==================== */
	&._active span{
		transform: scale(0);
	} 
	&._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%)
	}
	&._active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%)
	}
}
/* ====================  Burger menu icon  --End--  ==================== */
/* ====================  Menu body  --Start--  ==================== */
.menu__body {
	position: fixed;
	top: 0px;
	right: -100%;
	width: 100%;
	height: 100%;
	padding: 100px 30px 30px 30px;
	transition: right 0.5s ease 0s;
	background-color: rgba(0, 0, 0, 0.95);
	overflow-y: auto;
	&::before {
		content: "";
		position: fixed;
		top: 0px;
		right: -100%;
		width: 100%;
		height: 70px;
		background-color: #000000;
		z-index: 10000;
		transition: right 0.5s ease 0s;
	}
	&._active::before {
		right: 0%;
	}
	&._active {
		right: 0px;
	}
}
.menu__list {
	margin: 0px 20%;
	position: relative;
	z-index: 1200;
	display: flex;
	flex-direction: column;
	justify-content: center;
	li {
		display: flex;
		justify-content: center;
	}
	& > li {
		flex-wrap: wrap;
		margin: 0px 0px 0px 0px;
	}
}
.menu__link {
	padding: 20px 0px;
	font-size: calc(26px + (32 - 26) * ((100vw - 320px) / (767 - 320)));
	text-align: center;
}
/* ====================  Menu body  --End--  ==================== */
/* ====================  Header  --End--  ==================== */