/* ====================  Bounding Сontainer  --Start--  ==================== */
.container {
	max-width: 800px;
    margin: 0px auto;
    padding: 0px 12px;
}
/* ====================  Bounding Сontainer  --Start--  ==================== */