/* =============================================  Scroll Up Button  --Start--  ============================================= */
.up__button {
	position: fixed;
    bottom: 6%;
    right: 12px;
    opacity: 0;
    visibility: hidden;
    z-index: 80;
    cursor: pointer;
	-webkit-tap-highlight-color: rgba(68, 178, 195, 38%);
}
.up__button._active {
	opacity: 1;
	visibility: visible;
}
.up__button_icon {
	width: 54px;
	height: 54px;
	background: #dadada;
    box-shadow: 0px 0px 2px 0px #b8b8b8,0px 0px 4px 0px #b8b8b8,0px 0px 6px 0px #b8b8b8,0px 0px 10px 0px #b8b8b8;
	transition: all 0.4s ease-in-out 0s;
	position: relative;
}
body._pc .up__button_icon:hover {
    box-shadow: 0px 0px 5px 0px #b8b8b8,0px 0px 7px 0px #b8b8b8,0px 0px 10px 0px #b8b8b8,0px 0px 13px 0px #b8b8b8;
}
body._mobile .up__button_icon:active {
    box-shadow: 0px 0px 5px 0px #b8b8b8,0px 0px 7px 0px #b8b8b8,0px 0px 10px 0px #b8b8b8,0px 0px 13px 0px #b8b8b8;
}
.up__button_icon span {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    transform: rotate(180deg);
}
/* =============================================  Scroll Up Button  --End--  ============================================= */