/* --------------------  Обнуление --Начало--  -------------------- */
*,
*::before,
*::after {
	margin: 0px 0px;
	padding: 0px 0px;
	border: 0;
	-webkit-box-sizing: border-box;
		box-sizing: border-box;
}
/* --------------------  Убираем линию под ссылками  -------------------- */
a {
	text-decoration: none;
}
/* --------------------  Убираем маркировку  -------------------- */
ul,
ol,
li {
	list-style: none;
}
/* --------------------  Убираем   -------------------- */
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
/* --------------------  Обнуление --Конец--  -------------------- */





html,
body {
	min-height: 100%;
	line-height: 1;
	font-size: 16px;
	background: #f1f1f1;
	color: #000000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body {
	overflow-x: hidden;
}
body._lock {
	overflow-y: hidden;
}


/* --------------------  PRELOADER --Начало--  -------------------- */
/* -------------------------  preloader оболочка  ------------------------- */
.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    transition: all .9s;
    z-index: 99999999;
    opacity: 1;
    visibility: visible;
    transition: all .7s;
}
/* -------------------------  preloader оболочка когда добавляется классa _show оно исчезает  ------------------------- */
.preloader._show{
    opacity: 0;
    visibility: hidden;
}
/* -------------------------  Отцентровка  ------------------------- */
.preloader__content{
    position: relative;
	height: 100%;
	display: -webkit-box;
		display: -ms-flexbox;
			display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	flex-direction: column;
}
/* -------------------------  Иконка загрузки  ------------------------- */
.preloader__downloads {
	position: relative;
	display: -webkit-box;
		display: -ms-flexbox;
			display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
}
.preloader__downloads_icon {
	width: 7vh;
	height: 7vh;
	border: solid 5px #ffffff;
	border-radius: 100%;
	border-right-color: #00EEFF;
   	animation: preloaderDownloads 1.4s infinite linear;
}
.preloader__downloads_icon._show {
	animation: none;
}
@keyframes preloaderDownloads {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* -------------------------  Логотип preloader  ------------------------- */
.preloader__content_logo {
	width: 18vh;
	height: 18vh;
	margin: 1% 6px;
} 

/* --------------------  PRELOADER --Конец--  -------------------- */



.wrapper {
	min-height: 100%;
}

/* --------------------  Ограничивающий класс  -------------------- */
.container {
	max-width: 1200px;
	margin: 0px auto;
}




/* --------------------  Page --Начало--  -------------------- */
.page {
	position: relative;
	width: 100%;
	min-height: 100vh;
}
.page__body {
	font-size: 0.5em;
}