/*---------------------- Обнуление --Start-- ----------------------*/
* {
    padding: 0px 0px;
    margin: 0px 0px;
    border: 0;
}
*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus, :active {
    outline: none;
}
a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0px 0px;
    border: 0;
}

a, a:hover, a:visited {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
/*---------------------- Обнуление --End-- ----------------------*/
.spoller__item_title {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.spoller__items._init .spoller__item_title {
    cursor: pointer;
}
.spoller__items._init .spoller__item_title {
    padding: 10px 40px 10px 10px;
}
.spoller__items._init .spoller__item_title::before,
.spoller__items._init .spoller__item_title::after {
    content: "";
    width: 20px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: 20px;
    transition: transform 0.3s ease 0s;
}
.spoller__items._init .spoller__item_title::after {
   transform: rotate(-90deg);
}
.spoller__items._init .spoller__item_title._active::after {
    transform: rotate(-90deg);
}

.spoller__item {
    padding: 12px 6px;
    margin: 12px 20px;
    background: #76608b;
    border-radius: 10px;
}
.spoller__item_title {
    padding: 8px 0px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
}
.spoller__item_text {
    line-height: 170%;
    font-weight: 700;
}
._items_2 .spoller__item {
    background-color: #785147;
}
._items_3 .spoller__item {
    background-color: #7b9075;
}