/* ===================================  Footer  --Start--  =================================== */
.footer {
	font-weight: 700;
	text-align: center;
	background-color: #482b15;
}
/* ===================================  Footer  --End--  =================================== */