/* ===================================  Preloader  --Start--  =================================== */
.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: 99999999;
    opacity: 1;
    visibility: visible;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	transition: all 0.7s ease 0s;
}
/* ====================  Preloader shell Disappears when _show Class is Added  ==================== */
.preloader._show{
    opacity: 0;
    visibility: hidden;
}
/* ====================  Centering  ==================== */
.preloader__content{
    position: relative;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
}
/* ====================  Icon downloads  ==================== */
.preloader__downloads {
	position: relative;
	display: flex;
	justify-content: center;
	width: 70px;
	height: 70px;
}
.preloader__downloads_icon {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	animation: 1s linear infinite;
}
.preloader__icon_first {
	border-bottom: solid 1px #ff7473;       
	transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	animation-name: preloaderDownloadIconFirst;
}
.preloader__icon_second {
	border-right: solid 1px #ffc952;
   	transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	animation-name: preloaderDownloadIconSecond;
}
.preloader__icon_third {
	border-top: solid 1px #47b8e0;
	transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	animation-name: preloaderDownloadIconThird;
}
.preloader._show .preloader__downloads_icon {
    animation: none;
}
/* ====================  preloaderDownloadIconFirst  --Start--  ==================== */
@keyframes preloaderDownloadIconFirst {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
	    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}
/* ====================  preloaderDownloadIconFirst  --End--  ==================== */
/* ====================  preloaderDownloadIconSecond  --Start--  ==================== */
@keyframes preloaderDownloadIconSecond {
	0% {
	    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}
/* ====================  preloaderDownloadIconSecond  --End--  ==================== */
/* ====================  preloaderDownloadIconThird  --Start--  ==================== */
@keyframes preloaderDownloadIconThird {
    0% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}
/* ====================  preloaderDownloadIconThird  --End--  ==================== */
/* ===================================  Preloader  --End--  =================================== */