/* =============================================  Scroll Up Button  --Start--  ============================================= */
.up__button {
	position: fixed;
    bottom: 6%;
    right: 12px;
    opacity: 0;
    visibility: hidden;
    z-index: 111;
    cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.up__button._active {
	opacity: 1;
	visibility: visible;
}

.up__button_ico {
	width: 46px;
	height: 46px;
	background: #dadada;
	-webkit-box-shadow: 0px 0px 2px 0px #b8b8b8,0px 0px 4px 0px #b8b8b8,0px 0px 6px 0px #b8b8b8,0px 0px 10px 0px #b8b8b8;
	        box-shadow: 0px 0px 2px 0px #b8b8b8,0px 0px 4px 0px #b8b8b8,0px 0px 6px 0px #b8b8b8,0px 0px 10px 0px #b8b8b8;
	-webkit-transition: all 0.4s ease-in-out 0s;
		-o-transition: all 0.4s ease-in-out 0s;
			transition: all 0.4s ease-in-out 0s;
	position: relative;
}
/* ====================    ==================== */
body._pc .up__button_ico:hover {
	-webkit-box-shadow: 0px 0px 5px 0px #b8b8b8,0px 0px 7px 0px #b8b8b8,0px 0px 10px 0px #b8b8b8,0px 0px 13px 0px #b8b8b8;
	        box-shadow: 0px 0px 5px 0px #b8b8b8,0px 0px 7px 0px #b8b8b8,0px 0px 10px 0px #b8b8b8,0px 0px 13px 0px #b8b8b8;
}
body._mobile .up__button_ico:active {
	-webkit-box-shadow: 0px 0px 5px 0px #b8b8b8,0px 0px 7px 0px #b8b8b8,0px 0px 10px 0px #b8b8b8,0px 0px 13px 0px #b8b8b8;
	        box-shadow: 0px 0px 5px 0px #b8b8b8,0px 0px 7px 0px #b8b8b8,0px 0px 10px 0px #b8b8b8,0px 0px 13px 0px #b8b8b8;
}
.icon__upbutton {
	display: -webkit-box;
		display: -ms-flexbox;
			display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}
/* =============================================  Scroll Up Button  --End--  ============================================= */