/* ===================================  Page  --Start--  =================================== */
.form {
	&__input {
		height: calc(44px + (50 - 44) * ((100vw - 250px) / (767 - 250)));
	}
	&__textarea {
		height: calc(180px + (240 - 180) * ((100vw - 250px) / (767 - 250)));
	}
}
.checkbox {
	&__label {
		font-size: calc(14px + (18 - 14) * ((100vw - 250px) / (767 - 250)));
	}
}
/* ===================================  Page  --End--  =================================== */