@import "./base/variables";
@import "./base/mixins";
@import "./base/fonts";
@import "./base/zeroing";
@import "./base/media";
@import "./base/ibg";

@import "./blocks/header";
@import "./blocks/main-slider";
@import "./blocks/title";
@import "./blocks/btn";
@import "./blocks/lots";
@import "./blocks/categories";
@import "./blocks/servises";
@import "./blocks/quotes";
@import "./blocks/info";
@import "./blocks/footer";

._wrapper {
  overflow: auto;
  width: 100%;
  height: 100%;
}
._container {
  max-width: $container + 30px;
  margin: 0 auto;
  padding: 0px 15px;
}

body._hidden {
  overflow: hidden;
}

.page {
  flex: 1 1 auto;
  overflow: hidden;
  padding: 75px 0px 0px 0px;
}
