.modal {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: fixed;
    background: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    right: 0;
}
.modal__content {
    margin: 15% auto;
    max-width: 550px;
    position: relative;
    padding: 30px;
    background: $dark;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}
.modal__close {
    position: absolute;
    top: 5%;
    right: 3%;
    cursor: pointer;
}
.modal__icon {
    width: 20px;
    height: 20px;
}
.modal__icon:hover {
    border-radius: 100%;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
}
.modal__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.modal__title {
    @include m-bold;
    line-height: 140%;
    font-size: 30px;
    letter-spacing: .5px;
}
.modal__desc {
    margin-bottom: 20px;
    @include m-light;
    font-size: 15px;
}
.modal__input, .modal__textarea {
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    border: none;
    @include m-light;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: $white;
    outline: none;
    resize: none;
}
.modal__submit {
    margin-top: 10px;
    width: 100%;
    background: $white;
    border: none;
    padding: 15px 0;
    @include m-bold;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #1B1B1B;
    cursor: pointer;
}
.modal__check {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.modal__check label {
    padding-top: 3px;
    white-space: pre-wrap;
    padding-left: 5px;
    font-size: 15px;
}
.modal__check a {
    text-decoration: underline;
}
.modal__checkbox {
    width: 15px;
    height: 15px;
}
.modal__submit[disabled] {
    opacity: .6;
    cursor: not-allowed;
}
@media screen and (max-width: 600px) {
    .modal__content {
        margin: 20% 16px;
    } 
}
@media screen and (max-width: 480px) {
    .modal__title {
        font-size: 20px;
    }
    .modal__desc {
        font-size: 15px;
    }
    .modal__check label, a {
        font-size: 12px;
    }
}
@media screen and (max-width: 400px) { 
    .modal__content {
        padding: 15px;
    }
    .modal__input {
        padding: 10 7px;
    }
}