.order__wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.order__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}
.order__city {
    margin-top: 35px;
}
.order__name {
    @include m-medium;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.5px;
    
}
.order__lists {
    margin-top: 35px;
    margin-left: 20px;
}
.order__item {
    margin-bottom: 20px;
    list-style: disc;
    @include m-medium;
    font-size: 18px;
    line-height: 24px;
}
.order__item a {
    text-decoration: underline;
    @include m-light;
}
.order__item a:hover {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
}


// Map
.order__map {
    position: relative;
}
.order__img {
    width: 100%;
    height: 100%;
}
.order__svg {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.order__part {
    opacity: .4;
}
.order__part:hover {
    transition: opacity .2s ease;
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 1100px) { 
    .order__item {
        margin-bottom: 10px;
        font-size: 15px;
    }
    .order__lists {
        margin-top: 10px;
    }
}

@media screen and (max-width: 950px) {
    .order__wrapper {
        padding: 25px 0;
    } 
    .order__inner {
        grid-template-columns: repeat(1, 1fr);
    }
    .order__map {
        display: none;
    }
}
@media screen and (max-width: 600px) { 
    .order__map {
        display: none;
    }
}