.price__wrapper {
    position: relative;
    z-index: 2;
}
.price__text {
}
.price__desc {
    margin-top: 20px;
    @include m-light;
    font-size: 17px;
}

// Accordion
.accordion {
    margin: 50px auto 0 auto;
    max-width: 720px;
    height: auto;
    display: flex;
    flex-direction: column;
}
.accordion__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 5px;
}
.accordion__link {
    position: relative;
    padding: 20px 30px;
    width: 100%;
    color: #bdbdbd;
    font-weight: 400;
    display: block;
    font-weight: 500;
    background-color: $dark;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}
.accordion__link span {
    display: block;
    position: absolute;
    height: 14px;
    width: 14px;
    right: 20px;
    top: 18px;
}
.accordion__link span:after {
    content: '';
    width: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #fff;
    position: absolute;
    top: 6px;
}
.accordion__link span:before {
    content: '';
    width: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #fff;
    position: absolute;
    top: 6px;
    transform: rotate(90deg);
    transition: all 0.3s ease-in-out;
}
.accordion__block {
    padding: 0px 10px;
    width: 100%;
    height: auto;
    max-height: 0;
    overflow-y: scroll;
    transition: all 0.2s ease-in-out;
    opacity: 0;
}
.accordion__item.active .accordion__link {
    color: #fff;
}
.accordion__item.active .accordion__link span::before {
    transform: rotate(0deg);
}
.accordion__item.active .accordion__block {
    padding: 15px 10px 10px 10px;
    opacity: 1;
    max-height: 500px;
}

// Price table
.price__info {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    color: $white;
}
.price__date {
    @include m-medium;
    font-size: 15px;
}
.price__date b {
    font-weight: bold;
    text-decoration: underline
}
.price__name {
    @include m-medium;
    font-size: 15px;
}
.price__social {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.price__link {
    margin-right: 10px;
}
.price__icon {
    width: 20px;
    height: 20px;
}

// Table
.price__table {
    margin: 20px auto 0 auto;
    max-width: 720px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2) inset;
}
.price__table,
.price__td,
.price__th {
    transition: all 0.3s ease-in-out;
}
.price__th {
    @include m-bold;
    background-color: $dark;
    color: $white;
}
.price__td {
    @include m-light;
    text-align: center;
    color: $white;
}

.price__td:first-child {
    text-align: left;
}

.price__td,
.price__th {
    padding: 10px;
}

.price__tr:nth-child(odd) {
    background-color: #262626;
}
.price__tr:hover {
    box-shadow: 0px 5px 10px 2px rgba(255, 255, 255, 0.2) inset;
    cursor: pointer;
}

@media screen and (max-width: 950px) { 
    .price__wrapper {
        padding: 25px 0;
    }
}
@media screen and (max-width: 600px) { 
    .price__desc {
        font-size: 15px;
    }
    .accordion__link {
        font-size: 15px;
        padding: 20px 15px;
    }
}
@media screen and (max-width: 400px) { 
    .price__desc {
        text-align: center;
    }
}
@media screen and (max-width: 376px) { 
    .price__title {
        line-height: 100%;
    }
}