@font-face {
    font-family: 'MullerBold';
	src: url('../fonts/MullerBold.woff2') format('woff2');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
@font-face {
    font-family: 'MullerExtraBold';
	src: url('../fonts/MullerExtraBold.woff2') format('woff2');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}
@font-face {
    font-family: 'MullerLight';
	src: url('../fonts/MullerLight.woff2') format('woff2');
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}
@font-face {
    font-family: 'MullerMedium';
	src: url('../fonts/MullerMedium.woff2') format('woff2');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}
@font-face {
    font-family: 'MullerRegular';
	src: url('../fonts/MullerRegular.woff2') format('woff2');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
    font-family: 'MullerThin';
	src: url('../fonts/MullerThin.woff2') format('woff2');
	font-display: swap;
	font-weight: 100;
	font-style: normal;
}
@font-face {
    font-family: 'MullerUltraLight';
	src: url('../fonts/MullerUltraLight.woff2') format('woff2');
	font-display: swap;
	font-weight: 100;
	font-style: normal;
}