// Colors
$white: #ffffff;
$dark: #232323;

// Mixin Fonts
@mixin m-bold {
    font-family: 'MullerBold';
	font-weight: 700;
	font-style: normal;
}
@mixin m-extra {
    font-family: 'MullerExtraBold';
	font-weight: 800;
	font-style: normal;
}
@mixin m-light {
    font-family: 'MullerLight';
	font-weight: 300;
	font-style: normal;
}
@mixin m-medium {
    font-family: 'MullerMedium';
	font-weight: 500;
	font-style: normal;
}
@mixin m-regular {
    font-family: 'MullerRegular';
	font-weight: 400;
	font-style: normal;
}
@mixin m-thin {
    font-family: 'MullerThin';
	font-weight: 100;
	font-style: normal;
}
@mixin m-ultra {
	font-family: 'MullerUltraLight';
	font-weight: 100;
	font-style: normal;
}