@charset "UTF-8";
/* =============================================  Zeroing  --Start--  ============================================= */
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}
:focus,:active{
	outline: none;
}
a:focus,a:active{
	outline: none;
}
nav, footer, header, aside {
    display: block;
}
html, body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    line-height: 1;
	text-size-adjust: 100%;
}
input, button, textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button{
	cursor: pointer;
	&::-moz-focus-inner{
		padding:0;
		border:0;
	}
}
a, a:visited, a:hover {
  	text-decoration: none;
}
ul li {
    list-style: none;
}
picture, 
img {
	width: 100%;
	height: 100%;
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
/* ====================  If JavaScript is disabled  --Start--  ==================== */
noscript {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.97);
	z-index: 9999999999999999;
}
.noscript__content {
	padding: 4px 12px;
	text-align: center;
}
.noscript__text {
	color: #ffffff;
	font-size: 1em;
	font-weight: 700;
	line-height: 160%;
}
.noscript__text a {
	color: #33ff00;
}
/* ====================  If JavaScript is disabled  --End--  ==================== */
/* =============================================  Zeroing  --End--  ============================================= */