/* =============================================  Spoilers  --Start--  ============================================= */
.spoiler {
	&__items {
		margin: 0px 0px 30px 0px;
	}
	&__item {
		margin: 0px 0px 10px 0px;
		&_title {
			padding: 15px;
			width: 100%;
			color: #ffffff;
			font-size: 18px;
			font-weight: 700;
			text-transform: uppercase;
			text-align: left;
			background: none;
			background-color: transparent;
			position: relative;
			.spoiler__items._init & {
				padding: 15px 40px 15px 10px;
				cursor: pointer;
				&::before,
				&::after {
					content: "";
					width: 20px;
					height: 1px;
					background-color: #fff;
					position: absolute;
					top: 50%;
					right: 20px;
					transition: transform 0.3s ease 0s;
				}
				&::after {
					transform: rotate(-90deg);
				}
				&._active::after {
					transform: rotate(0deg);
				}
			}
		}
		&_text {
			padding: 0px 15px 10px;
			color: #e7e7e7;
			line-height: 170%;
			font-weight: 700;
		}
	}
}
/* =============================================  Spoilers  --Start--  ============================================= */
._items_1 .spoiler__item {
    background-color: #76608b;
}
._items_2 .spoiler__item {
    background-color: #785147;
}
._items_3 .spoiler__item {
    background-color: #7b9075;
}