/* ====================  Bounding Сontainer  --Start--  ==================== */
.container {
	max-width: $mw;
	margin: 0px auto;
	padding: 0px 4px;
}
/* ====================  Bounding Сontainer  --Start--  ==================== */